<div class="jumbotron bg-white text-center">
    <h1 class="display-3">Covid-19 Tracker Comments</h1>
    <hr>
            </div>
            <div class="container mt-5 pt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8 bg-dark px-5 rounded z-depth-5 mt-5">
                        <div class="row">
                            <div class="card-header bg-dark mt-4">
                                <h1 class="text-white">Write Us</h1>
                                <div class="col-sm-12 border border-bottom border-primary"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 border-right">
                                <form>
                                    <div class="col-md-12">
                                        <div class="md-form form-group">
                                            <input type="text" id="name" name="name" class="form-control text-white" required="">
                                            <label for="name">Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="md-form form-group">
                                            <input type="email" id="email" name="email" class="form-control text-white" required="">
                                            <label for="email">E-mail</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <div class="form-check">
                                            <input type="checkbox" id="check" name="check" class="form-check-input" required="">
                                            <label for="check" class="form-check-label text-white">I am not a Robot</label>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="col-md-7 mt-2">
                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea text-white" required=""></textarea>
                                    <label for="message">Your Message</label>
                                    <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                                </div>
                            </div>
                        </div>


                       
                    </div>
                </div>
            </div>
        
        
        